#projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    text-align: center;
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
}

#projetos h1 {
    font-size: 2.5em;
}

#projetos-config {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projeto1 {
    width: 474px;
    background-image: linear-gradient(95deg, var(--cor1), var(--cor2));
    border-radius: 17px;
    transition: box-shadow 0.3s ease;
}

.projeto1:hover {
  box-shadow: 0px 0px 20px #05a6f7bd;
}

.projeto1 a {
    text-decoration: none;
}

.projeto1 > a > h2 {
    color: white;
    padding-top: 8pt;
    text-align: left;
    padding: 15px;
}

.projeto1 > a > p {
    color: white;
    padding-top: 8pt;
    text-align: left;
    padding: 15px;
}

@media screen and (max-width: 1000px){
    #projetos-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    }
    @media screen and (max-width: 600px) {
        .projeto1 {
        width: 336px;
        background-image: linear-gradient(95deg, var(--cor1), var(--cor2));
        border-radius: 17px;
        }
    }
}

