#habilidades {
    background-image: linear-gradient(95deg, var(--cor1), var(--cor2));
    padding: 2em;
}

#habilidades > h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

#habilidades-separar {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 4em;
}

#habilidades-separar > p {
    text-align: left;
    font-size: 22px;
}

.imagens-config > img {
    padding: 10px;
}