#projetos {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#projetos h1 {
    font-size: 2.5em;
}

#carrossel {
    width: 800px;
    margin: 0 auto;
}

.projetos-posicao {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}

.projeto-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(95deg, var(--cor1), var(--cor2));
    height: 500px;
    padding: 20px;
    border-radius: 10px;
}

.projeto-1 img {
    background-color: white;
    border-radius: 10px;
}

.projeto-1 p {
    width: 500px;
    text-align: start;
}

.projeto-2 {
    background-color: lightblue;
    height: 500px;
    padding: 20px;
}

.projeto-2 p {
    width: 500px;
    text-align: start;
}