@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --cor1: #05A8F7;
    --cor2: #1122F4;
    --cor3: #24252a;

    --font-padrao: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}